<app-header [roundNumber]="roundNumber"></app-header>
<div class="board">
  <div class="player1">
    <div class="player1_actions">
      <button mat-icon-button aria-label="rock">
        <mat-icon>crop_3_2</mat-icon>
      </button>
      <button mat-icon-button aria-label="paper">
        <mat-icon>note</mat-icon>
      </button>
      <button mat-icon-button aria-label="scissor">
        <mat-icon>content_cut</mat-icon>
      </button>
    </div>
    <div class="player1_score">Score: {{ result.player1Score }}</div>
  </div>
  <div class="status">
    <p *ngIf="isInitialState">{{ result.result }}</p>
    <p *ngIf="isCompleted">{{ result.result }}</p>
  </div>
  <div class="player2">
    <div class="player2_actions">
      <button mat-icon-button aria-label="rock">
        <mat-icon>crop_3_2</mat-icon>
      </button>
      <button mat-icon-button aria-label="paper">
        <mat-icon>note</mat-icon>
      </button>
      <button mat-icon-button aria-label="scissor">
        <mat-icon>content_cut</mat-icon>
      </button>
    </div>
    <div class="player1_score">Score: {{ result.player2Score }}</div>
  </div>

  <div class="common_actions">
    <button
      *ngIf="isInitialState"
      mat-button
      color="accent"
      (click)="playGame()"
    >
      Start Battle
    </button>
    <button *ngIf="isCompleted" mat-button color="accent" (click)="playAgain()">
      Next Round
    </button>
    <button mat-button color="warn" (click)="restart()">Restart Game</button>
  </div>
</div>
