<div class="home">
  <h1 class="title">Rock Paper Scissors</h1>
  <div class="actions">
    <button
      mat-raised-button
      color="primary"
      (click)="goToPlayerVsComputerPage()"
    >
      Player vs Computer
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="goToComputerVsComputerPage()"
    >
      Computer vs Computer
    </button>
    <button mat-raised-button color="primary" (click)="openInstructionDialog()">
      Instruction
    </button>
  </div>
</div>
